@font-face {
	font-family: 'Nirmala';
	src: url('~fonts/Nirmala.woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nirmala';
	src: url('~fonts/Nirmala-bold.woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}