// Font
$primary-f:'Nirmala',
sans-serif;


// Color
$primary:#fff;
$primaryBg:#fff;
$danger-c:#ff0000;


$p-wrap: 15px;
$wrap:1370px;
// Media
$large_desktop: 1480px;
$large_tablet: 1050px;
$small_tablet: 731px; ////
$large_mobile: 480px;